/* Start Variables */
:root{
    --main-color: #10cab7;
}
/* end Variables */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "work sans", sans-serif;
}

.container {
    /* background-color: rgb(107, 255, 196); */
    /* width: 70%; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium. */
@media (min-width: 992px) {
    .container {
        width: 975px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*End Global Rules*/


/* start components */
.special-heading {
    color: #f2f2f2;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -30px;
    }
}
/* end components */
.special-heading{
    font-size: 75px;
    color: #808085ad;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0px;
}

/* Start Header  */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .links {
    position: relative;
}

.header .logo {
    width: 70px;
}


/*******

menu-icon

*******/

.header .links .menu-icon {
    display: inline-block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: relative;
}

.header .links .menu-icon span {
    height: 3px;
    background-color:rgb(68, 68, 68);
    position: absolute;
    width: 100%;
    transition: all .3s ease;
}

.header .links .menu-icon span:first-child {
    top: 0px;
}

.header .links .menu-icon span:nth-child(2) {
    top: 7px;
}

.header .links .menu-icon span:last-child {
    top: 14px;
}

.header .links .menu-icon:hover span:nth-child(2) {
    opacity: 0%;
}

.header .links .menu-icon:hover span:first-child {
    top: 6px;
transform: rotate(45deg);
}

.header .links .menu-icon:hover span:last-child {
    top: 6px;
transform: rotate(-45deg);

}

/*******

end menu-icon

*******/

.menu-icon + ul {
    top: calc(100% + 15px);
    list-style: none;
    width: 120px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    visibility: hidden;
}

.menu-icon:hover + ul {
    visibility:visible ;
    /* background-color: #ffffff !important; */
    background-color: rgb(212, 229, 255);
    color: black;
    z-index: 1;
}

.menu-icon + ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(190, 206, 234) transparent;
    position: absolute;
    right: 0px;
    top: -20px;
    
}

.menu-icon + ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: .3s;
}

.menu-icon + ul li a:hover {
    padding-left: 25px;
}

.header .container .links .menu-icon + ul li:not(:last-child) a {
    border-bottom: 1px solid rgb(90, 88, 88);
    width: 100%;
    position: relative;
    right: 40px;
}

.contact {
    position: relative;
    right: 40px;
}
/* End Header  */

/* start landing */
.landing {
    background-image: url(../images/photo.png);
    /* filter: brightness(.9) invert(.5); */
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    /* height:100vh; */
}

.landing .intro-text {
    margin: 0;
position: absolute;
top: 50%;
left: 50%;
text-align: center;
transform: translate(-50% , -50%);
width: 360px;
max-width: 100%;
}

/* .intro-text{
position: relative;
top: 50%;
text-align: center;
} */

.landing .intro-text h1 {
margin: 0px;
font-weight: bold;
font-size: 45px;
color: var(--main-color);
}

.landing .intro-text p {
font-size: 19px;
line-height: 1.8;
}
/* End landing */

/* Start features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #bcbcbc;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    grid-gap: 20px;
}

.features .container .feat{
padding: 20px;
text-align: center;
}

.features .container .feat i{
color: var(--main-color);
}

.features .container .feat h3{
font-weight: 800;
margin: 30px 0;
}

.features .container .feat p{
line-height: 1.8;
color: #777;
font-size:17px;
}
/* End features */


/* start services */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
/* end services */





































































/* 
.header .links .menu-icon {
    display: flex;
    width: 30px;
    height: 14px;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .links .menu-icon span {
    background-color: rgb(70, 70, 70);
    margin-bottom: 5px;
    height: 2px;
}

.header .links .menu-icon span:first-child {
    width: 100%;
}

.header .links .menu-icon span:nth-child(2) {
    width: 100%;
}

.header .links .menu-icon span:last-child {
    width: 100%;
} */
